.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resizable-component {
  border: 1px solid #ccc;
  resize: both;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px; 
  height: calc(33.33vh - 20px);
}

.resizable-component:before {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background-color: black;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}